#slide {
	width: 100%;
	overflow: hidden;
	height: auto;
}

.tab-content {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 0;
}

.tab-pannel {
	width: 100%;
	overflow: hidden;

	img {
	  width: 100%;
	}
}
